.container{
  min-height: 100vh;
  background-color: #eee;
  padding: 30px;
}

.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post{
  box-shadow: 6px 4px 8px rgb(198, 196, 196);
  background-color: white;
  border-radius: 2%;
}

.post-content{
  padding: 10px;
}

.post img{
  max-width: 100%;
  padding-block: 20px;
  border-radius: 10px;
}